@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;700&family=Marvel:wght@400;700&family=VT323&display=swap');

:root {
  --primary-bg-color: #282a36;
  --secondary-bg-color: #44475a;
  --foreground: #f8f8f2;
  --coment: #6272a4;
  --primary-text: #50fa7b;
  --seconday-text: #bd93f9;
  --primary-info: #8be9fd;
  --secondary-info: #ff79c6;
  --primary-aux: #ffb86c;
  --danger-color: #ff5555;
  --warn-color: #f1fa8c;

}

.link-nav {
  font-size: 1.1rem;
  font-weight: 500;
  background-image: linear-gradient(
    to right,
    #50fa7b,
    #50fa7b 50%,
    #e2e8f0 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
  font-family: 'Fira Code', monospace;
}

.link-nav:before {
  content: '';
  background: #50fa7b;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.2s ease-in-out;
}

.link-nav:hover {
 background-position: 0;
}

.link-nav:hover::before {
  width:110%;
}

.active-link {
  font-size: 1.1rem;
  font-weight: 500;
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  position: relative;
  color: #bd93f9;
  font-family: 'Fira Code', monospace;
}

#message {
  font-family: 'Fira Code', monospace;
  font-weight: 500;
}

.banner {
  font-family: 'Fira Code', monospace;
  font-weight: 700;
}

.simple-text {
  font-family: 'Fira Code', monospace;
}