@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;700&family=Marvel:wght@400;700&family=VT323&display=swap');

:root {
  --primary-bg-color: #282a36;
  --secondary-bg-color: #44475a;
  --foreground: #f8f8f2;
  --coment: #6272a4;
  --primary-text: #50fa7b;
  --seconday-text: #bd93f9;
  --primary-info: #8be9fd;
  --secondary-info: #ff79c6;
  --primary-aux: #ffb86c;
  --danger-color: #ff5555;
  --warn-color: #f1fa8c;

}

.link-nav {
  font-size: 1.1rem;
  font-weight: 500;
  background-image: linear-gradient(
    to right,
    #50fa7b,
    #50fa7b 50%,
    #e2e8f0 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
  font-family: 'Fira Code', monospace;
}

.link-nav:before {
  content: '';
  background: #50fa7b;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.2s ease-in-out;
}

.link-nav:hover {
 background-position: 0;
}

.link-nav:hover::before {
  width:110%;
}

.active-link {
  font-size: 1.1rem;
  font-weight: 500;
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  position: relative;
  color: #bd93f9;
  font-family: 'Fira Code', monospace;
}

#message {
  font-family: 'Fira Code', monospace;
  font-weight: 500;
}

.banner {
  font-family: 'Fira Code', monospace;
  font-weight: 700;
}

.simple-text {
  font-family: 'Fira Code', monospace;
}

/*Tooltip*/
.tooltip-text {
  visibility: hidden;
  position: absolute;
  z-index: 10;
  width: 2rem;
  color: white;
  font-size: 12px;
  background-color: #192733;
  border-radius: 10px;
  padding: 10px 15px 10px 15px;
}

.tooltip-text::before {
  content: "";
  position: absolute;
  transform: rotate(45deg);
  background-color: #192733;
  padding: 0.5rem;
  z-index: 1;
}

.hover-content:hover .tooltip-text {
  visibility: visible;
}

#top {
  top: -40px;
  left: -50%;
}

#top::before {
  top: 80%;
  left: 45%;
}

.hover-content {
  position: relative;
  display: block;
}


/* GLITCH BTN */
.glitch-btn,.glitch-btn::after {
  font-family: 'Fira Code', monospace;
  font-weight: 500;
  font-size: 1.5rem;
  border: 0.2rem solid #50fa7b;
  border-radius: 0.5rem;
  color: #50fa7b;
  background-color: transparent;
  position: relative;
}

.glitch-btn::after {
  --move1: inset(50% 50% 50% 50%);
  --move2: inset(31% 0 40% 0);
  --move3: inset(39% 0 15% 0);
  --move4: inset(45% 0 40% 0);
  --move5: inset(45% 0 6% 0);
  --move6: inset(14% 0 61% 0);
  clip-path: var(--move1);
  content: 'Download';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}

.glitch-btn:hover::after {
  animation: glitch_4011 1s;
  text-shadow: 10 10px 10px #282a36;
  animation-timing-function: steps(2, end);
  text-shadow: -3px -3px 0px #1df2f0, 3px 3px 0px #E94BE8;
  background-color: transparent;
  border: 0.2rem solid #8be9fd;
}

.glitch-btn:hover {
  text-shadow: -1px -1px 0px #1df2f0, 1px 1px 0px #E94BE8;
}

.glitch-btn:hover {
  background-color: transparent;
  border: 0.2rem solid #50fa7b;
  /* box-shadow: 0px 10px 10px -10px #1df2f0; */
  box-shadow: inset 0px 0px 25px #50fa7b;
}

@keyframes glitch_4011 {
  0% {
    clip-path: var(--move1);
    transform: translate(0px,-10px);
  }

  10% {
    clip-path: var(--move2);
    transform: translate(-10px,10px);
  }

  20% {
    clip-path: var(--move3);
    transform: translate(10px,0px);
  }

  30% {
    clip-path: var(--move4);
    transform: translate(-10px,10px);
  }

  40% {
    clip-path: var(--move5);
    transform: translate(10px,-10px);
  }

  50% {
    clip-path: var(--move6);
    transform: translate(-10px,10px);
  }

  60% {
    clip-path: var(--move1);
    transform: translate(10px,-10px);
  }

  70% {
    clip-path: var(--move3);
    transform: translate(-10px,10px);
  }

  80% {
    clip-path: var(--move2);
    transform: translate(10px,-10px);
  }

  90% {
    clip-path: var(--move4);
    transform: translate(-10px,10px);
  }

  100% {
    clip-path: var(--move1);
    transform: translate(0);
  }
}


/* Email button */
.btn-mail {
  font-family: 'Fira Code', monospace;
  font-weight: 500;
  font-size: 1.5rem;
  background: #50fa7b;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 2rem;
  overflow: hidden;
  transition: all 0.2s;
  color: #282a36;
}

.btn-mail span {
  display: block;
  transition: all 0.3s ease-in-out;
}

.btn-mail svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.btn-mail:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

.btn-mail:hover svg {
  transform: translateX(5.2rem) rotate(45deg) scale(1.1);
}

.btn-mail:hover span {
  transform: translateX(12rem);
}

.btn-mail:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}


/* Social links */
.btn-social:hover span {
  color: #44475a;
}

.btn-social:hover svg {
  fill: #44475a;
}