---
import NavBar from '../components/NavBar/NavBar.jsx'
import Banner from '../components/Banner/index.astro'
import About from '../components/About/index.astro'
import Experience from '../components/Experience/index.astro'
import Technologies from '../components/Technologies/index.astro'
import Projects from '../components/Projects/index.astro'
import Contact from '../components/Contact/index.astro'
import '../styles/app.css'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/icon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>LexCode</title>
	</head>
	<body>
		<NavBar client:load/>
		<Banner />
		<About />
		<Experience />
		<Technologies />
		<Projects />
		<Contact />
	</body>

	<script>
		import { PowerGlitch } from 'powerglitch'
		PowerGlitch.glitch('.glitch', {
        	playMode: 'hover',
        	hideOverflow: true, 
			timing: {
            duration: 1000,
            iterations: Infinity,
            easing: 'ease-in-out',
        },})
		PowerGlitch.glitch('.glitch2', {
        	playMode: 'always',
        	hideOverflow: true })
	</script>
</html>
