---
const email = import.meta.env.USER_EMAIL
---

<div>
  <section class="bg-[url('/bg2.svg')] bg-cover bg-center min-h-screen w-full grid lg:grid-cols-1 grid-cols-1 lg:gap-4 gap-2 content-center" id='Contact'>
    <div class="text-center my-auto justify-center">
      <h2 class="lg:text-6xl md:text-4xl max-sm:text-4xl text-4xl banner text-[#f8f8f2] md:mx-10 mx-0">If you wanna contact me</h2>
      <aside>
        <a class="btn-mail mx-auto my-10 w-fit md:px-10 px-5 py-2" href={`mailto: ${email}`}>
          <div class="svg-wrapper-1">
            <div class="svg-wrapper">
              <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 0h24v24H0z" fill="none"></path>
                <path d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z" fill="currentColor"></path>
              </svg>
            </div>
          </div>
          <span class="ml-4">Say Hello!</span>
        </a>
      </aside>
      <h2 class="lg:text-6xl md:text-4xl max-sm:text-4xl text-4xl banner text-[#f8f8f2] md:mx-10 mx-0">or follow me in my social networks</h2>
    </div>
    <div class="my-auto justify-center lg:px-20 md:px-10 sm:px-5 px-5 lg:mt-20 my-10 mx-auto">
      <aside class="flex flex-wrap md:grid md:grid-cols-3 md:gap-10 gap-5">
        <a href="https://www.linkedin.com/in/alexis-meza-mejia/" target="_blank" class="btn-social border-2 border-[#50fa7b] relative inline-flex items-center justify-center overflow-hidden simple-text font-medium tracking-tighter text-white bg-gray-800 rounded-lg group">
          <span class="absolute w-0 h-0 transition-all duration-700 ease-out bg-[#50fa7b] rounded-full group-hover:w-72 group-hover:h-72"></span>
          <span class="absolute inset-0 w-full h-full rounded-lg opacity-70 bg-gradient-to-b from-transparent via-transparent to-[#50fa7b]"></span>
          <div class="relative text-center md:block flex items-center lg:m-10 md:m-5 mx-5 my-2">
            <svg class='fill-white lg:w-[4rem] lg:h-[4rem] md:w-[3rem] md:h-[3rem] w-[1.5rem] h-[1.5rem] mx-auto' xmlns="http://www.w3.org/2000/svg" width="45" height="45" viewBox="0 0 24 24"><path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"/></svg>
            <span class="md:text-xl text-lg md:block md:mt-4 mt-0 md:ml-0 ml-4">GitHub</span>
          </div>
        </a>
        <a href="https://github.com/AlxMeza" target="_blank" class="btn-social border-2 border-[#50fa7b] relative inline-flex items-center justify-center overflow-hidden simple-text font-medium tracking-tighter text-white bg-gray-800 rounded-lg group">
          <span class="absolute w-0 h-0 transition-all duration-700 ease-out bg-[#50fa7b] rounded-full group-hover:w-72 group-hover:h-72"></span>
          <span class="absolute inset-0 w-full h-full rounded-lg opacity-70 bg-gradient-to-b from-transparent via-transparent to-[#50fa7b]"></span>
          <div class="relative text-center md:block flex items-center lg:m-10 md:m-5 mx-5 my-2">
            <svg class='fill-white lg:w-[4rem] lg:h-[4rem] md:w-[3rem] md:h-[3rem] w-[1.5rem] h-[1.5rem] mx-auto' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor" class="mercado-match" width="24" height="24" focusable="false">
              <path d="M20.5 2h-17A1.5 1.5 0 002 3.5v17A1.5 1.5 0 003.5 22h17a1.5 1.5 0 001.5-1.5v-17A1.5 1.5 0 0020.5 2zM8 19H5v-9h3zM6.5 8.25A1.75 1.75 0 118.3 6.5a1.78 1.78 0 01-1.8 1.75zM19 19h-3v-4.74c0-1.42-.6-1.93-1.38-1.93A1.74 1.74 0 0013 14.19a.66.66 0 000 .14V19h-3v-9h2.9v1.3a3.11 3.11 0 012.7-1.4c1.55 0 3.36.86 3.36 3.66z"></path>
            </svg>
            <span class="md:text-xl text-lg md:block md:mt-4 mt-0 md:ml-0 ml-4">Linkedin</span>
          </div>
        </a>
        <a href="https://www.instagram.com/lex.dev_code/" target="_blank" class="btn-social border-2 border-[#50fa7b] relative inline-flex items-center justify-center overflow-hidden simple-text font-medium tracking-tighter text-white bg-gray-800 rounded-lg group">
          <span class="absolute w-0 h-0 transition-all duration-700 ease-out bg-[#50fa7b] rounded-full group-hover:w-72 group-hover:h-72"></span>
          <span class="absolute inset-0 w-full h-full rounded-lg opacity-70 bg-gradient-to-b from-transparent via-transparent to-[#50fa7b]"></span>
          <div class="relative text-center md:block flex items-center lg:m-10 md:m-5 mx-5 my-2">
            <svg class='fill-white lg:w-[4rem] lg:h-[4rem] md:w-[3rem] md:h-[3rem] w-[1.5rem] h-[1.5rem] mx-auto' fill="#fff" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="800px" height="800px" viewBox="0 0 169.063 169.063" xml:space="preserve">
              <g>
                <path d="M122.406,0H46.654C20.929,0,0,20.93,0,46.655v75.752c0,25.726,20.929,46.655,46.654,46.655h75.752   c25.727,0,46.656-20.93,46.656-46.655V46.655C169.063,20.93,148.133,0,122.406,0z M154.063,122.407   c0,17.455-14.201,31.655-31.656,31.655H46.654C29.2,154.063,15,139.862,15,122.407V46.655C15,29.201,29.2,15,46.654,15h75.752   c17.455,0,31.656,14.201,31.656,31.655V122.407z"/>
                <path d="M84.531,40.97c-24.021,0-43.563,19.542-43.563,43.563c0,24.02,19.542,43.561,43.563,43.561s43.563-19.541,43.563-43.561   C128.094,60.512,108.552,40.97,84.531,40.97z M84.531,113.093c-15.749,0-28.563-12.812-28.563-28.561   c0-15.75,12.813-28.563,28.563-28.563s28.563,12.813,28.563,28.563C113.094,100.281,100.28,113.093,84.531,113.093z"/>
                <path d="M129.921,28.251c-2.89,0-5.729,1.17-7.77,3.22c-2.051,2.04-3.23,4.88-3.23,7.78c0,2.891,1.18,5.73,3.23,7.78   c2.04,2.04,4.88,3.22,7.77,3.22c2.9,0,5.73-1.18,7.78-3.22c2.05-2.05,3.22-4.89,3.22-7.78c0-2.9-1.17-5.74-3.22-7.78   C135.661,29.421,132.821,28.251,129.921,28.251z"/>
              </g>
            </svg>
            <span class="md:text-xl text-lg md:block md:mt-4 mt-0 md:ml-0 ml-4">Instagram</span>
          </div>
        </a>
      </aside>
    </div>
  </section>
</div>