<div>
    <section class="bg-[url('/bg1-1.svg')] bg-cover bg-center min-h-screen w-full grid lg:grid-cols-2 grid-cols-1 lg:gap-4 gap-4 content-center" id='Experience'>
      <aside class="justify-center lg:px-20 md:px-10 max-sm:px-5 md:order-2 sm:order-2 order-2 lg:order-1">
        <div class="lg:text-xl max-sm:text-md md:text-lg lg:text-[#50fa7b] md:text-[#50fa7b] sm:text-[#f8f8f2] text-[#f8f8f2] simple-text">
          <h4 class='font-semibold text-[#8be9fd]'>Desarrollador FullStack Septiembre 2022 - Abril 2023</h4>
          <h4 class='font-semibold text-[#8be9fd]'>BMTools</h4>
          <ul class="mt-1 mb-4">
            <li>Colaborador en dos proyectos (Conciliación y Validación), creacion de microservicios,
                consumo de api´s, usando la arquitectura APIRest, creación de bases de datos, para el manejo de información, 
                desarrollo de modulos para el FrontEnd con ReactJS.
            </li>
            <li>
                Desarrollador principal en Cotizador MOVEX aplicacion enfocada en el arrendamiento
                de automoviles, aplicación en la que se requirieron modulos, para la gestión de personal,
                generación de reportes y metricas, carga de documentos para la generación de catalogos.
                A cargo del desarrollo FrontEnd, BackEnd, gestión de bases de datos y despliegue a producción.
            </li>
            
          </ul>
          <span class="lg:text-lg max-sm:text-sm text-[#f1fa8c]"><strong>TECNOLOGÍAS:</strong> NodeJs, JavaScript, PHP, Laravel, InertiaJS, React, MySQL,
            RapidAPI Client, Tailwind.</span>
  
          <h4 class='mt-5 font-semibold text-[#8be9fd]'>Desarrollador BackEnd Mayo 2021 - Agosto 2021</h4>
          <h4 class='font-semibold text-[#8be9fd]'>Practicante en FullStack</h4>
          <p class="mt-1 mb-4">Creación de microservicios y consumo de api´s, autenticación, autorización, generación de 
            pruebas unitarias y de integración, conexión a base de datos, creación y uso de modelos de bases de datos para el proyecto Vetech 
            en el que se utilizaron los Servicios Web de Amazon (AWS).
          </p>
          <span class="lg:text-lg max-sm:text-sm text-[#f1fa8c]"><strong>TECNOLOGÍAS:</strong> DynamoDB, PynamoDB, Cognito, ApiGateway, CloudFormation,
            Python, JWT, python-jose, Postman.
          </span>
        </div>
      </aside>
      <aside class="text-center my-auto justify-center md:order-1 sm:order-1 order-1 lg:order-2">
        <h2 class="lg:text-8xl md:text-6xl sm:text-4xl text-4xl banner text-[#f8f8f2] mx-5">Mi experiencía profesional</h2>
      </aside>
    </section>
  </div>