<div>
  <section class="bg-[url('/bg1.svg')] bg-cover h-screen w-full grid lg:grid-cols-2 lg:gap-4" id='Experience'>
    <aside class="my-auto justify-center lg:px-20 md:px-10 max-sm:px-5 md:order-2 max-sm:order-2 lg:order-1">
      <div class="lg:text-xl max-sm:text-md md:text-lg lg:text-[#50fa7b] md:text-[#50fa7b] max-sm:text-[#f8f8f2] simple-text">
        <h4 class='font-semibold text-[#8be9fd]'>Web Developer September 2022 - Current</h4>
        <h4 class='font-semibold text-[#8be9fd]'>BMTools</h4>
        <p class="mt-1">BackEnd Development (creation and consume of API's, 
          authentication and authorization), FrontEnd Development (creation of pages, views and ui components).
        </p>
        <span class="mt-1 italic lg:text-lg max-sm:text-sm">Technologies: JavaScript, ExpressJS, Laravel, ReactJS, Tailwind, Bootstrap 5, 
          NodeJS, MySQL, JWT, PostMan.</span>

        <h4 class='mt-5 font-semibold text-[#8be9fd]'>BackEnd Developer May 2021 - August 2021</h4>
        <h4 class='font-semibold text-[#8be9fd]'>Intern at FullStack</h4>
        <p class="mt-1">API's creation and consume, authorization and authentication, unit and integration test, 
          cretion of endpoints, creation of databas models.
        </p>
        <span class="mt-1 italic lg:text-lg max-sm:text-sm">Technologies: Python, AWS, CognitoIDP, DynamoDB, ApiGateway,
          CloudFormation, JWT, PostMan.   
        </span>
      </div>
    </aside>
    <aside class="text-center my-auto justify-center md:order-1 max-sm:order-1 lg:order-2">
      <h2 class="lg:text-8xl md:text-6xl max-sm:text-4xl banner text-[#f8f8f2]">My Professional Experience</h2>
    </aside>
  </section>
</div>