<div>
  <section class="bg-[url('/bg1.svg')] bg-cover bg-center h-screen w-full grid lg:grid-cols-2 grid-cols-1 lg:gap-4 gap-4 content-center" id='Experience'>
    <aside class="justify-center lg:px-20 md:px-10 max-sm:px-5 md:order-2 sm:order-2 order-2 lg:order-1">
      <div class="lg:text-xl max-sm:text-md md:text-lg lg:text-[#50fa7b] md:text-[#50fa7b] sm:text-[#f8f8f2] text-[#f8f8f2] simple-text">
        <h4 class='font-semibold text-[#8be9fd]'>Full Stack Developer September 2022 - Current</h4>
        <h4 class='font-semibold text-[#8be9fd]'>BMTools</h4>
        <p class="mt-1">
          Colaborator in two projects (Concilation and Validation), api´s creation and consume
          with APIRest Model, creation of DB views for management information, using DB
          views on endpoints, creation of web applications with react.
          Lead developer of a web application focused on generating a quote for car rentals
          and personnel management, developed for the MOVEX company. In charge of front
          end, back end development, database management, and deployment to production.
          
        </p>
        <span class="mt-1 italic lg:text-lg max-sm:text-sm">TECHNOLOGIES: NodeJs, JavaScript, PHP, Laravel, React, MySQL, RapidAPI Client,
          Tailwind, ExpressJS.</span>

        <h4 class='mt-5 font-semibold text-[#8be9fd]'>BackEnd Developer May 2021 - August 2021</h4>
        <h4 class='font-semibold text-[#8be9fd]'>Intern at FullStack</h4>
        <p class="mt-1">API´s creation and consume, authentication, autorization, unit test and integration
          test develop, endpoints creation, database connection, creation of database models
          to Vetech Project with Amazon Web Services.
        </p>
        <span class="mt-1 italic lg:text-lg max-sm:text-sm">TECHNOLOGIES: DynamoDB, Cognito, ApiGateway, CloudFormation, Python,
          Postman. 
        </span>
      </div>
    </aside>
    <aside class="text-center my-auto justify-center md:order-1 sm:order-1 order-1 lg:order-2">
      <h2 class="lg:text-8xl md:text-6xl sm:text-4xl text-4xl banner text-[#f8f8f2] mx-5">My Professional Experience</h2>
    </aside>
  </section>
</div>